{% extends "base.html" %}

{% block title %} Board Central: Get better board governence with less work for everyone {% endblock title %}

{% block meta_description %}A set of tools that make life easier for boards of directors and the staff members that support them.{% endblock meta_description %}

{% block content %}

  {% include "partials/hero.html" %}
  {% include "partials/features.html" %}
  {% include "partials/testimonials.html" %}
  {% include "partials/pricing.html" %}
  {% include "partials/contact.html" %}

{% endblock content %}
