<section class="h-screen flex items-center text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-4 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <div class="xl:w-3/4 lg:w-3/4 w-full mx-auto text-center">
        <p class="leading-relaxed text-lg mb-4">Hi my name is Vince Hodges and I am a director on the board of 
          Mount Lehamn Credit Union. I started Board Central to address
          the pain we were having by using a spreadsheet to manage our risk registry.
        </p>

        <p class="leading-relaxed text-lg mb-4">
          Board Central is always upto date. We can easily see which items need to be reviewed
          and any changes are done during our board meetings.  The registry is so much more readable and useful
          as we manage our risks.
        </p>
        <p class="leading-relaxed text-lg">
          It has reduced the load on senior management, freeing them to actually spend their time
          managing the organizaton.  It's made reviewing and updating the risk registry faster
          and smoother and a more engaging process.
        </p>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="380-scaled-600-transparent.png">
    </div>
  </div>
</section>
