<section id="about" class="text-gray-600 body-font mb-2">
  <div class="flex flex-col text-center w-full mb-1">
    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">About</h1>
  </div>
  <div class="container px-2 py-12 mx-auto mb-20">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <p class="leading-relaxed text-lg mb-4">Hi my name is Vince Hodges and I am a director on the board of 
          Mount Lehman Credit Union. I started Board Central to address
          the pain we were having by using a spreadsheet to manage our risk registry.
        </p>

        <p class="leading-relaxed text-lg mb-4">
          Board Central is always upto date. We can easily see which items need to be reviewed
          and any changes are done during our board meetings.  The registry is so much more readable and useful
          as we manage our risks.
        </p>
        <p class="leading-relaxed text-lg">
          It has reduced the load on senior management, freeing them to actually spend their time
          managing the organizaton.  It's made reviewing and updating the risk registry faster
          and smoother and a more engaging process.
        </p>
      </div>
    </div>
  </section>
