<section id="products" class="text-gray-600 body-font">
  <div class="container px-5 py-0 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">HAVE YOU EVER HAD</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Out of date documents at board meetings?</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Have you ever had to take notes for changes at meetings, go away
        to make the changes and then publish them? Do you dread the risk registry review? What if they were always the latest version?  What
      if you could easily, quickly, review and update those documents <em>at</em> board meetings? 
    </p>
    <p>
      Introducing the <strong>Board Central</strong> suite.
    </p>
    </div>
    <div class="container px-5 pb-16 mx-auto">
      <div class="flex flex-wrap mt-8">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE ONE</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">Risk Registry</h2>
          <p class="text-base leading-relaxed mt-2">
            List, review and monitor the kinds of things that can affect your organinzation.
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Page Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE TWO</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">
            Performance Indicators
            <sup class="text-xs text-indigo-700 font-medium">*</sup>
          </h2>
          <p class="text-base leading-relaxed mt-2">
            Add, track and compare key data points that measure your success.
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE THREE</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">
            Strategic Initiatives
            <sup class="text-xs text-indigo-700 font-medium">*</sup>
          </h2>
          <p class="text-base leading-relaxed mt-2">
            Set goals and timeframes. Add tasks and track progress as you grow.
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
      </div>
  
      <div class="flex flex-wrap mt-8">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE FOUR</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">
            Projects
            <sup class="text-xs text-indigo-700 font-medium">*</sup>
          </h2>
          <p class="text-base leading-relaxed mt-2">
            Understand the status of every project from business case to the final report on ROI.          
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Page Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE FIVE</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">Document Library</h2>
          <p class="text-base leading-relaxed mt-2">
            One secure location for all your key documents and files.
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h2 class="text-xs text-indigo-700 tracking-widest font-medium title-font mb-1">MODULE SIX</h2>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-0">Meeting Calendars</h2>
          <p class="text-base leading-relaxed mt-2">
            Better attendence with meeting scheduling and RSVP tracking.
          </p>
          <!--
          <a class="text-indigo-700 inline-flex items-center mt-3">Coming Soon
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
          -->
        </div>
      </div>
  
      <h2 class="text-xs text-indigo-700 tracking-widest font-medium mx-auto text-center title-font mt-4 mb-1">
        * This module is still under development and is not yet available.
      </h2>
    </div>

</section>  
